.components {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.list_search {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}


.list_search > * {
  margin-right: 20px;
}

#free-solo-2-demo {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 4px;
}

.job-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details{
  padding: 5px;
}

.job-details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
