body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.components {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.list_search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list_search > * {
  margin-right: 20px;
}

#free-solo-2-demo {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 4px;
}

.job-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details{
  margin-bottom: 20px;
  color: #83f167;
}